examples/.metadata/*
examples/OpenPyroBuilder/*
examples/OpenPyroExample/bin-debug/*
bin/
examples/OpenPyroExample/.actionScriptProperties
examples/OpenPyroExample/bin-release/

.metadata
.classpath
.project
.settings

target
.DS_Store