<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/OpenPyroExample.as"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/Users/comcast/Documents/code/core_lib/openpyro-git/openPyro-head/examples/OpenPyroExample/bin-debug/OpenPyroExample.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="file:/Users/comcast/Documents/code/core_lib/openpyro-git/openPyro-head/examples/OpenPyroExample/bin-debug/OpenPyroExample.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="OpenPyroExample"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/Users/comcast/Documents/code/core_lib/openpyro-git/openPyro-head/examples/OpenPyroExample/bin-debug/OpenPyroExample.html"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenPyroExample"/>
<listEntry value="/OpenPyroExample/src/OpenPyroExample.as"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
